.body-book {

  &.biologia {
    background-color: $bio_background;
  }

  &.fisica {
    background-color: $fis_background;
  }

  &.geografia {
    background-color: $geo_background;
  }

  &.matematica {
    background-color: $mat_background;
  }

  &.historia {
    background-color: $his_background;
  }

  &.quimica {
    background-color: $qui_background;
  }

  &.inter_de_texto {
    background-color: $itx_background;
  }

  &.literatura {
    background-color: $lit_background;
  }

  &.gramatica {
    background-color: $gra_background;
  }

  &.edit-mode {
    [doc-container] {
      padding-bottom: 24px !important;
      border-bottom: 3px solid #cecece !important;
    }

    [doc-container]:empty {
      padding-bottom: 0 !important;
      border-bottom: 0 !important;
    }

    [doc-editable] .empty-editable {
      background-color: orange;
      min-width: 5px;
      min-height: 3px;
    }
  }

}