.css_01_titulo3 {

  /* Características do texto */
  font-family: $fontTitle;
  font-weight: 800;
  font-size: 21px;
  color: $preto;

  /* Características do componente */
  display: block;
  margin-top: 20px;
  margin-bottom: 0px;
  line-height: 1.5em;

}