.css_01_titulo1 {

  /* Características do componente */
  display: block;

  /* Variações de cores */
  &.biologia {
   
    .text{
      color: $bio_cor1;
    }
  }
  &.fisica {
   
    .text{
      color: $fis_cor1;
    }
  }

  &.geografia {
    
    .text{
      color: $geo_cor1;
    }
  }

  &.gramatica {
    
    .text{
      color: $gra_cor1;
    }
  }

  &.historia {
    
    .text{
      color: $his_cor1;
    }
  }

  &.inter_de_texto {
   
    .text{
      color: $itx_cor1;
    }
  }

  &.literatura {
   
    .text{
      color: $lit_cor1;
    }
  }

  &.matematica {
   
    .text{
      color: $mat_cor1;
    }
  }
  
  &.quimica {
    
    .text{
      color: $qui_cor1;
    }
  }

  /* Características do texto */
  .text{
    font-family: $fontTitle;
    font-weight: 700;
    font-size: 30px;
    color: $preto;
    margin: 40px 68px 0px 68px;
    padding: 0px 0px 0px 0px;
    }
}