.css_01_titulo2 {

  /* Características do componente */
  display: block;

  /* Variações de cores */
  &.biologia {

    color: $bio_cor1;

  }

  &.fisica {


    color: $fis_cor1;

  }

  &.geografia {

    color: $geo_cor1;

  }

  &.gramatica {


    color: $gra_cor1;

  }

  &.historia {


    color: $his_cor1;

  }

  &.inter_de_texto {


    color: $itx_cor1;

  }

  &.literatura {

    color: $lit_cor1;

  }

  &.matematica {


    color: $mat_cor1;

  }

  &.quimica {

    
      color: $qui_cor1;
    
  }

  /* Características do texto */
 
    font-family: $fontTitle;
    font-weight: 700;
    font-size: 23px;
    color: $preto;
    margin: 40px 68px 0px 68px;
    padding: 0px 0px 0px 0px;
  
}