.css_01_titulo_cap_num {

  /* Características do texto */
  font-family: $fontPrincipal;
  font-weight: 600;
  font-size: 30px;
  color: $preto;

  /* Características do componente */
  display: flex;
  z-index: 1;

  /* Variações de cores */


  &.biologia {
    color: $bio_cor1;
  }

  &.fisica {
    color: $fis_cor1;
  }

  &.geografia {
    color: $geo_cor1;
  }

  &.gramatica {
    color: $gra_cor1;
  }

  &.historia {
    color: $his_cor1;
  }

  &.inter_de_texto {
    color: $itx_cor1;
  }

  &.literatura {
    color: $lit_cor1;
  }

  &.matematica {
    color: $mat_cor1;
  }


  &.quimica {
    color: $qui_cor1;
  }
}