.secao_topo_para_consolidar {
  margin-left: 10px;
  height: 32px;
  width: 100%;
  margin-top: 40px;
  padding: 0 0 0 38px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;

  & .titulo_topo_para_consolidar {
    font-family: $fontName;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0;
  }

  &.matematica {
    color: $mat_cor2;
    background-color: #eef4fa;
    border-right: 3px solid #d6e5f2;

    .icone_disciplina_consolidar_topo {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/MAT_para_consolidar.svg");
      width: 32px;
      height: 32px;
      align-items: left;
      margin: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -10px;
      top: -1px;
    }

  }
}

.alinhamento {
  display: flex;
  align-items: center;
}