<div class="css_chapeu_de_abertura">

  <div class="body_cicle">
    <div class="content_cicle_chapeu_de_abertura">
      <p class="aulas_chapeu_de_abertura" doc-editable="text_aula">Digite aula</p>
      <p class="number_chapeu_de_abertura">
        <span class="number_one" doc-editable="number_one">Nº</span>
        e
        <span class="number_two" doc-editable="number_two" >Nº</span>
      </p>
      <p class="code_chapeu_de_abertura" doc-editable="code">Digite o código</p>
    </div>
  </div>

  <div class="bars_chapeu_de_abertura">
    <div class="bars_first_chapeu_de_abertura"></div>
    <div class="bars_second_chapeu_de_abertura"></div>
  </div>

  <div class="content_title_chapeu_de_abertura">
    <div class="title_chapeu_de_abertura" doc-editable="text_title">Digite o Título</div>
    <div class="subtitle_chapeu_de_abertura" doc-editable="subtitle">Digite o Subtítulo</div>
  </div>
</div>